<style type="text/css">
    .card {
        max-width: 700px;
    }

    .card-body {
        padding: 20px;
    }
</style>

<div class="container">
    <div class="row">

        <!-- news Post Published-->
        
        <div class="card m-auto">
            <a href="{% url 'news:detail' post.slug %}">
                <img class="card-img-top" src="{{news_post.image.url}}">
            </a>

            <div class="card-body mt-2 mb-2">
                <a href="{% url 'news:detail' post.slug %}">
                    <h2 class="card-title">{{news_post.title}}</h2>
                </a>
                <p class="card-text">{{news_post.body|truncatechars:180}}</p>
                {% if news_post.author == request.user %}
                <a href="{% url 'news:edit' news_post.slug %}" class="btn btn-primary">Atualizar</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Atualizado em {{news_post.date_updated}} por {{news_post.author}}
            </div>
        </div>
    </div>
</div>